.page-wrapper {
  left: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 0 0 0 230px;
  padding: 60px 0 0;
}
.page-wrapper .content {
  padding: 30px;
}
.page-wrapper .content .page-header {
  margin-bottom: 1.875rem;
}
.col {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  position: relative;
  min-height: 1px;
}
.page-wrapper .content .page-header .page-title {
  color: #1f1f1f;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
}
.breadcrumb {
  background-color: transparent;
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.breadcrumb .breadcrumb-item a {
  color: #333;
}
.add-btn {
  background-color: #ff9b44;
  border: 1px solid #ff9b44;
  color: #fff;
  float: right;
  font-weight: 500;
  min-width: 140px;
  border-radius: 50px;
}
.view-icons {
  float: right;
  margin-right: 10px;
}
.view-icons .btn {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  color: #888;
  font-size: 18px;
  min-width: 40px;
  margin: 0 5px 0 0;
  padding: 4px;
}
.view-icons .btn.active {
  color: #333;
}
.form-group {
  margin-bottom: 1rem;
}
.form-focus {
  height: 50px;
  position: relative;
}
.form-control {
  border-color: #e3e3e3;
  box-shadow: none;
  font-size: 15px;
  height: 44px;
}
.form-focus .form-control {
  height: 50px;
  padding: 5px 12px 6px;
}
.form-focus .focus-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  z-index: 1;
  color: #888;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  top: -8px;
  left: 12px;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform: translate3d(0, 22px, 0) scale(1);
  -webkit-transform: translate3d(0, 22px, 0) scale(1);
  -ms-transform: translate3d(0, 22px, 0) scale(1);
}
.profile-widget {
  background-color: #fff;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}
.profile-widget .profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.avatar {
  background-color: transparent;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 34px;
  position: relative;
  white-space: nowrap;
  margin: 0 10px 0 0;
  border-radius: 50%;
}
.profile-widget .profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 80px;
}
.profile-widget .dropdown.profile-action {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 5px;
}
.material-icons {
  font-family: material icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
.dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inherit;
  font-size: 14px;
  border-radius: 3px;
  transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
}
.m-t-10 {
  margin-top: 10px !important;
}
a {
  text-decoration: none !important;
  outline: none;
  color: #0d6efd;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.profile-widget .user-name a {
  color: #333;
}
.text-muted {
  color: #8e8e8e !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.profile-widget.user-name {
  color: #333;
}
h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.add-btn {
  background-color: #ff9b44 !important;
  border: 1px solid #ff9b44 !important;
  color: #fff !important;
  float: right !important;
  font-weight: 500 !important;
  min-width: 140px !important;
  border-radius: 50px !important;
}
